<%- include("../../partials/videofeedheader") %>
    <section class="container-fluid mr-2">
        <div class="row main-row">
            <div id="sidebar" class="px-3 sidebar">
                <div class="sidebar-header">
                    <h5>Change Feed</h5>
                    <hr>
                </div>
                <ul class="nav flex-column my-2">
                    <li class="nav-item py-2">
                        <% if (sport.toUpperCase() == "NBA") { %>
                        <div class="nav-link current py-2"><span class="league-name">NBA</span>
                            <span class="float-right"><i class="fas nba fa-chevron-right" aria-hidden="true"></i></span>
                        </div>
                        <div class="team-list nba-team-list current">
                        <% }else{ %>
                        <div class="nav-link py-2"><span class="league-name">NBA</span>
                            <span class="float-right"><i class="fas nba fa-chevron-down" aria-hidden="true"></i></span>
                        </div>
                        <div class="team-list nba-team-list">
                        <% } %>
                            <ul class="nav flex-column">
                                <a href="/nba/feed/a/nba"><li class="league-list-item pl-4">League</li></a>
                                <a href="/nba/search"><li class="league-list-item pl-4">Search for a team</li></a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item py-2">
                        <% if (sport.toUpperCase() == "NFL") { %>
                            <div class="nav-link current py-2"><span class="league-name">NFL</span>
                                <span class="float-right"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
                            </div>
                            <div class="team-list nfl-team-list current">
                        <% }else{ %>
                            <div class="nav-link py-2"><span class="league-name">NFL</span>
                                <span class="float-right"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
                            </div>
                            <div class="team-list nfl-team-list">
                        <% } %>
                            <ul class="nav flex-column">
                                <li class="league-list-item pl-4">League</li>
                                <a href="/nfl/search"><li class="league-list-item pl-4">Search for a team</li></a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item py-2">
                        <% if (sport.toUpperCase() == "NHL") { %>
                            <div class="nav-link current py-2"><span class="league-name">NHL</span>
                                <span class="float-right"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
                            </div>
                            <div class="team-list nhl-team-list current">
                        <% }else{ %>
                            <div class="nav-link py-2"><span class="league-name">NHL</span>
                                <span class="float-right"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
                            </div>
                            <div class="team-list nhl-team-list">
                        <% } %>
                            <ul class="nav flex-column">
                                <li class="league-list-item pl-4">League</li>
                                <a href="/nhl/search"><li class="league-list-item pl-4">Search for a team</li></a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item py-2">
                        <% if (sport.toUpperCase() == "MLB") { %>
                            <div class="nav-link current py-2"><span class="league-name">MLB</span>
                                <span class="float-right"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
                            </div>
                            <div class="team-list mlb-team-list current">
                        <% }else{ %>
                            <div class="nav-link py-2"><span class="league-name">MLB</span>
                                <span class="float-right"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
                            </div>
                            <div class="team-list mlb-team-list">
                        <% } %>         
                            <ul class="nav flex-column">
                                <li class="league-list-item pl-4">League</li>
                                <a href="/mlb/search"><li class="league-list-item pl-4">Search for a team</li></a>
                            </ul>
                        </div>        
                    </li>
                </ul>
            </div>
            <div id="contentSection" class="contents container-fluid col-10 mt-4">
                <div id="header-row" class="row mt-5 mx-3 justify-content-start align-items-center">
                    <div class="team-name"><h3><%= sport.toLowerCase() %> / <strong><%= team.toLowerCase() %></strong></h3></div>
                </div>
                <div id="result-section" class="mt-3 px-5 pt-3">
                    <div id="filter-row" class="row mb-4 justify-content-between align-items-center">
                        <div class="filters">
                            <a class="btn set btn-light filter-btn btn-md mr-3">Videos</a>
                            <a href="/nba/feed/a/<%= team %>" class="btn btn-light filter-btn btn-md mr-3">Articles</a>

                        </div>
                        <div id="follow" class="mr-4">
                            <button type="button" class="btn followed px-3"><i class="fas fa-check mr-2"></i>Followed</button>
                        </div>
                    </div>
                    <div id="espnResults" class="container-fluid">
                        <div class="row result-header align-items-center w-100 mb-3">
                            <img class="brand" src="https://a.espncdn.com/wireless/mw5/r1/images/bookmark-icons-v2/espn-icon-180x180.png" alt="">
                            <h4><em>ESPN</em></h4>
                        </div>
                        <% for (var i = 0; i < espnVideos.length; i+=4) { %>
                            <% if (espnVideos.length - i <= 4) { %>
                            <div class="row espn row-result-contents mt-3 mb-5 justify-content-start hide">
                            <% }else{ %>
                            <div class="row espn row-result-contents mt-3 justify-content-between hide">
                            <% } %>
                                <% for (var j = i; j < i+4 && j < espnVideos.length; j++) { %>
                                    <div class="col-3">
                                        <a href="http://youtube.com/watch?v=<%= espnVideos[j].id.videoId%>">
                                        <div class="card">
                                            <div class="img-container">
                                                <img src="<%= espnVideos[j].snippet.thumbnails.medium.url %>" class="card-img-top" alt="">
                                                <a href="http://youtube.com/watch?v=<%= espnVideos[j].id.videoId%>" class="btn play-btn"><i class="far fa-play-circle"></i></a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"><a href="http://youtube.com/watch?v=<%= espnVideos[j].id.videoId%>"><%= espnVideos[j].snippet.title.split("&#39;").join("'") %>...</a></h5>
                                            </div>
                                        </div></a>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                        <div class="row espn show-more mt-4 justify-content-center py-2"><i class="fas fa-chevron-down"></i></div>
                        <hr>
                        <div id="brResults" class="container-fluid">
                            <div class="row result-header align-items-center w-100 mb-3">
                                <img class="brand" src="https://bleacherreport.com/img/favicon/appleTouchIcon.png" alt="">
                                <h4><em>Bleacher Report</em></h4>
                            </div>
                            <% for (var i = 0; i < brVideos.length; i+=4) { %>
                                <% if (brVideos.length - i <= 4) { %>
                                <div class="row br row-result-contents mt-3 mb-5 justify-content-start hide">
                                <% }else{ %>
                                <div class="row br row-result-contents mt-3 justify-content-between hide">
                                <% } %>
                                    <% for (var j = i; j < i+4 && j < brVideos.length; j++) { %>
                                        <div class="col-3">
                                            <a href="http://youtube.com/watch?v=<%= brVideos[j].id.videoId%>">
                                            <div class="card">
                                                <div class="img-container">
                                                    <img src="<%= brVideos[j].snippet.thumbnails.medium.url %>" class="card-img-top" alt="">
                                                    <a href="http://youtube.com/watch?v=<%= brVideos[j].id.videoId%>" class="btn play-btn"><i class="far fa-play-circle"></i></a>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="http://youtube.com/watch?v=<%= brVideos[j].id.videoId%>"><%= brVideos[j].snippet.title.split("&#39;").join("'") %>...</a></h5>
                                                </div>
                                            </div></a>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                            <div class="row br show-more mt-4 justify-content-center py-2"><i class="fas fa-chevron-down"></i></div>    
                    <hr>
                    <div id="foxResults" class="container-fluid">
                        <div class="row result-header align-items-center w-100 mb-3">
                            <img class="brand" src="https://b.fssta.com/sta/images/navSection/images/shows/nav_shows_undisputed.vadapt.160.high.0.png" alt="">
                            <h4><em>Undisputed</em></h4>
                        </div>
                        <% for (var i = 0; i < undisputedVideos.length; i+=4) { %>
                            <% if (undisputedVideos.length - i <= 4) { %>
                            <div class="row fox row-result-contents mt-3 mb-5 justify-content-start hide">
                            <% }else{ %>
                            <div class="row fox row-result-contents mt-3 justify-content-between hide">
                            <% } %>
                                <% for (var j = i; j < i+4 && j < undisputedVideos.length; j++) { %>
                                    <div class="col-3">
                                        <a href="http://youtube.com/watch?v=<%= undisputedVideos[j].id.videoId%>">
                                        <div class="card">
                                            <div class="img-container">
                                                <img src="<%= undisputedVideos[j].snippet.thumbnails.medium.url %>" class="card-img-top" alt="">
                                                <a href="http://youtube.com/watch?v=<%= undisputedVideos[j].id.videoId%>" class="btn play-btn"><i class="far fa-play-circle"></i></a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"><a href="http://youtube.com/watch?v=<%= undisputedVideos[j].id.videoId%>"><%= undisputedVideos[j].snippet.title.split("&#39;").join("'") %>...</a></h5>
                                            </div>
                                        </div></a>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                        <div class="row fox show-more mt-4 justify-content-center py-2"><i class="fas fa-chevron-down"></i></div>
                    <hr>
                <% if (sport.toLowerCase() == "nba") { %>    
                    <div id="nbaResults" class="container-fluid">
                        <div class="row result-header align-items-center w-100 mb-3">
                            <img class="brand" src="https://www.nba.com/assets/icons/apple-touch-icon.png" alt="">
                            <h4><em>NBA</em></h4>
                        </div>
                        <% for (var i = 0; i < nbaVideos.length; i+=4) { %>
                            <% if (nbaVideos.length - i <= 4) { %>
                            <div class="row nba row-result-contents mt-3 mb-5 justify-content-start hide">
                            <% }else{ %>
                            <div class="row nba row-result-contents mt-3 justify-content-between hide">
                            <% } %>
                                <% for (var j = i; j < i+4 && j < nbaVideos.length; j++) { %>
                                    <div class="col-3">
                                        <a href="http://youtube.com/watch?v=<%= nbaVideos[j].id.videoId%>">
                                        <div class="card">
                                            <div class="img-container">
                                                <img src="<%= nbaVideos[j].snippet.thumbnails.medium.url %>" class="card-img-top" alt="">
                                                <a href="http://youtube.com/watch?v=<%= nbaVideos[j].id.videoId%>" class="btn play-btn"><i class="far fa-play-circle"></i></a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"><a href="http://youtube.com/watch?v=<%= nbaVideos[j].id.videoId%>"><%= nbaVideos[j].snippet.title.split("&#39;").join("'") %>...</a></h5>
                                            </div>
                                        </div></a>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                        <div class="row nba show-more mt-4 justify-content-center py-2"><i class="fas fa-chevron-down"></i></div>
                <% } %>
                </div>
                <hr>
            </div>
        </div>
    </section>
    <script src="/js/sidebar.js" type="text/javascript"></script>
    <script src="/js/loadmore.js" type="text/javascript"></script>

<%- include("../../partials/footer") %>